{% extends 'main/mainlayout.html' %}
{% load static %}

{% block title %}
Home page
{%endblock%}

{% block content %}
<div class="about">
<h1>MAIN PAGE</h1>
<p>Welcome to our travel platform, your gateway to unforgettable journeys and remarkable adventures! Whether you're seeking a breathtaking destinations, thrilling excursions, or curated travel experiences tailored to your needs, we’ve got you covered. as you browse through our carefully selected trips, designed to suit every taste and preference. Let us help you create memories that last a lifetime—your adventure begins here!
<img src="{% static 'main/images/travel.jpg' %}" alt="Travel" class="about-image" style="width: 100%;">
</div>
{%endblock%}
