{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>QR Scanner</title>
    <!-- Include the jsQR library -->
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <!-- Include your custom JavaScript -->
    <script src="{% static 'GuideApp/js/qr-scanner.js' %} " defer></script>
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    {% csrf_token %}
    <video id="video" autoplay playsinline muted></video>
    <button id="startButton">Start Camera</button>
    <button id="captureButton">Scan QR Code</button>
    <canvas id="previewCanvas" style="display: none;"></canvas>
    <p>{{ trip.trip_id}}</p>
    <div id="qr-data" data-trip-id="{{ trip.trip_id }}"></div>
    <div id="resultContainer" style="margin-top: 300px;display: none;">
        <h3>Scan Results:</h3>
        <div id="successMessage" style="color: green;"></div>
        <div id="errorMessage" style="color: red;"></div>
        <p>User ID: <span id="userIdResult"></span></p>
        <p>Secret Key: <span id="secretKeyResult"></span></p>
    </div>
</body>
</html>